body{
	background: black;
}

#canvas{
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	margin: auto;
	z-index: -1;
}


#scoreTable{
	position: absolute;
	text-align: center;
	vertical-align: middle;
	display: none;
	right: 0px;
	top: 0px;
	width: 10%;
	height: 10%;
	color: #FFFFFF;
	background-color:rgba(80,150,150,0.4);
	border-radius: 0px 0px 0px 70px;
}


#authors{
	color: #FFFFFF;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: inherit;
}