#gameoverScreen{
	position: absolute;
	display: none;
	border-radius: 10px;
	color:white;
	background-color:rgba(100,0,0,0.5);
	width: 40vw;
	height: 40vh;
	top: 30vh;
	left: 30vw;
	border-radius: 100px 100px 100px 100px;
	z-index: -1;
}

#score{
	text-align: center;
	position: absolute;
	color: #FFFFFF;
	top: 0px;
	width: 70%;
	height: 35%;
	left:15%;
	z-index: inherit;
}

#score>h1{
	position:absolute;
	width:100%;
	font-size: 300%;
	z-index: inherit;
}

#score>h3{
	position:absolute;
	width:100%;
	top: 60%;
	font-size: 200%;
	z-index: inherit;
}

#goInstructions{
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	top: 55%;
	width: 70%;
	left:15%;
	font-size: 100%;
	z-index: inherit;
}