#ScoreTable{
	display:block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 20%;
	height: 10%;
	background: #388E8E;
	border-radius: 0px 0px 0px 50px;
	opacity: 0.5;
}
h1{
	color: #7CFC00;
	position: absolute;
	top: 0%;
	right: 2%;
}
